.thread {
  text-align: center;
  height: 100vh;
}

.form {
  width: 300px;
  margin: 0 auto;
}

.form label,
.form input,
.form textarea,
.form select {
  margin-bottom: 10px;
}

.form .top {
  margin-top: 10px;
}
