.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia;
  font-size: 25px;
  gap: 10px;
}

.add-tag {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 50%;
}
